.data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: -3%;
  
  background-color: #f1eaea;
}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 16px 25px 16px ;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.data-item.hover {
  transform: scale(1.3);
  z-index: 1;
}

.data-item.hover ~ .dock-item {
  transform: translateX(-25%);
  opacity: 0.7;
}

.data-item.hover:nth-child(1) {
  transform-origin: left;
}

.data-item.hover:nth-child(4) {
  transform-origin: right;
}

.data-icon {
  font-size: 32px;
}

.data-text {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-top: 8px;
}
 
.form-control:hover  {
  border-color:  hwb(84 4% 4%);  
  outline: none;
  box-shadow: none;
  border-width: 2px;  
}

.hiddenform {
  animation:fadein 2s
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 
